<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asusx453sa.wiradhikadwiputra_1202151228_modul3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WIRADHIKADWIPUTRA_1202151228_MODUL3"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.asusx453sa.wiradhikadwiputra_1202151228_modul3.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.asusx453sa.wiradhikadwiputra_1202151228_modul3.Login" />
        <activity android:name="com.example.asusx453sa.wiradhikadwiputra_1202151228_modul3.DaftarMinuman"
            android:parentActivityName="com.example.asusx453sa.wiradhikadwiputra_1202151228_modul3.Login"/>
        <activity android:name="com.example.asusx453sa.wiradhikadwiputra_1202151228_modul3.DetailActivity"
                android:label="detail"
                android:parentActivityName="com.example.asusx453sa.wiradhikadwiputra_1202151228_modul3.DaftarMinuman"></activity>
    </application>

</manifest>